# Machine Learning
# Haberman's Survival

The following text is copied directly from the "haberman.names" file that professor provided.


5. Number of Instances: 306

6. Number of Attributes: 4 (including the class attribute)

7. Attribute Information:
   1. Age of patient at time of operation (numerical)
   2. Patient's year of operation (year - 1900, numerical)
   3. Number of positive axillary nodes detected (numerical)
   4. Survival status (class attribute)
         1 = the patient survived 5 years or longer
         2 = the patient died within 5 year

8. Missing Attribute Values: None

## importing relavant libraries

In [1]:
import pandas as pd
import numpy as np

## Loading dataset

In [2]:
import pandas as pd

dataset = "haberman.csv"
nam = ['age_patient_operate_time', 'year_operate_time', 'axillary_node_num', 'survive_status']
myData = pd.read_csv(dataset, names=nam)
myData

,age_patient_operate_time,year_operate_time,axillary_node_num,survive_status
0,30,64,1,1
1,30,62,3,1
2,30,65,0,1
3,31,59,2,1
4,31,65,4,1
...,...,...,...,...
301,75,62,1,1
302,76,67,0,1
303,77,65,3,1
304,78,65,1,2
305,83,58,2,2

In [3]:
myData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306 entries, 0 to 305
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age_patient_operate_time  306 non-null    int64
 1   year_operate_time         306 non-null    int64
 2   axillary_node_num         306 non-null    int64
 3   survive_status            306 non-null    int64
dtypes: int64(4)
memory usage: 9.7 KB

## Missing values

In [4]:
import numpy as np

myData.isna().sum()

age_patient_operate_time    0
year_operate_time           0
axillary_node_num           0
survive_status              0
dtype: int64

## Visualization